<?php

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('var')
    ->exclude('tests/_support/_generated');

return PhpCsFixer\Config::create()
    ->setRules([
        '@Symfony'                   => true,
        '@DoctrineAnnotation'        => true,
        'array_syntax'               => ['syntax' => 'short'],
        'date_time_immutable'        => true,
        'array_indentation'          => true,
        'binary_operator_spaces'     => [
            'default' => 'align',
        ],
        'concat_space'               => [
            'spacing' => 'one',
        ],
        'no_superfluous_phpdoc_tags' => true,
        'phpdoc_order'               => true,
        'phpdoc_to_comment'          => false,
    ])
    ->setRiskyAllowed(true)
    ->setFinder($finder);
